.top{
    margin-top: 0.2cm;
}
.btn {
    width: 327px;
    background-image: linear-gradient(to right, #1c0600, #ec3902, #422e05);
    height: 42px;
    border-radius: 9px;
    border-top-right-radius: 9px;
    margin-top: 3cm;
    font-weight: 600;
    transition: transform 0.3s ease; 
}

.btn:hover {
    transform: scale(1.1);
}



h1{
    margin-top: 0.7cm;
    text-align: "center";
    font-size: 0.8cm;
}
.one{
    height: 3cm;
    border-radius: 65px;
}
h2{
    margin-top: 0.2cm;
    text-align: "center";
    font-size: 0.5cm;
    margin-bottom: 2.4cm;
    color: grey;
}

@keyframes gradientTransition {
    0%, 100% {
        background-position: 500% 600%;
    }
    50% {
        background-position: 00% 00%;
    }
}

.c {
    background-image: linear-gradient(to bottom, #ec6302ca, black);
    background-size: 100% 200%; 
    animation: gradientTransition 6s infinite alternate;
}



.cin{
    background-color: black;
}
#c0{
    width: 344px;
    border-radius: 172px;

    height: 344px;
}
#c1{
    width: 278px;
    border-radius: 139px;
    height: 278px;
}
#c2{
    width: 222px;
    border-radius: 111px;
    height: 222px;
}
#c3{
    width: 160px;
    border-radius: 80px;
    height: 160px;
}



#c0in{
    width: 342px;
    border-radius: 171px;
    height: 342px;
}

#c1in{
    width: 276px;
    border-radius: 138px;
    height: 276px;
}
#c2in{
    width: 220px;
    border-radius: 110px;
    height: 220px;
}
#c3in{
    width: 158px;
    border-radius: 79px;
    height: 158px;
}


